.invitation-story3 {
  position: relative;
  width: 1400px;
  height: 750px;
  border: solid 7px #e2d0d2;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.479);
  padding: 50px;
}

.cancel-button {
  position: absolute;
  top: 10px;
  right: 18px;
  font-size: 2rem;
  color: #444444;
}

.cancel-button:hover {
  color: #c87575;
}

.text1-container {
  width: 113px;
  height: 100%;

  /* 삭제해야할 부분 */
  border: 5px solid blue;

  /* 필요할 것 같은 코드 */
  /* text-align: center;
  font-size: 47px;
  font-weight: bold;
  resize: none;
  overflow: hidden; */
}

.image1-container {
  position: absolute;
  top: 80px;
  left: 250px;
  width: 400px;
  height: 420px;
  border-radius: 30px;
  background-color: #eadcdc;
  z-index: 2;
}

.image2-container {
  position: absolute;
  bottom: 30px;
  left: 450px;
  width: 344px;
  height: 318px;
  border-radius: 30px;
  background-color: #ddeeec;
  z-index: 3;
}

.image3-container {
  position: absolute;
  top: 30px;
  left: 470px;
  width: 850px;
  height: 600px;
  border-radius: 30px;
  background-color: #efefef;
  z-index: 1;
}
