.template-box {
  display: flex;
}

.input-area1 {
  position: relative;
  background-color: rgba(255, 255, 255, 0.698);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 7px solid #daa744;
  width: 700px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.text-box1 {
  position: relative;
  width: 640px;
  height: 260px;
  background-color: #f6f6e3;
  border-radius: 30px;
  margin-bottom: 40px;
}

.text1 {
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 30px;
  padding: 25px 30px;
  font-size: 12px;
  line-height: 30px;
  color: #534221;
  background-color: transparent;

  resize: none;
  overflow: hidden;
}

.text1:focus {
  border: 3px solid #ffa600;
}

.text-button1 {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 20px;
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: #e79b09;
}

.title-text {
  font-size: 18px;
  color: #444444;
  font-weight: bold;
  margin-bottom: 35px;
}

.info-man {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #488f8b;
}

.info-man-title {
  text-align: center;
  width: 287px;
  height: 40px;
  padding: 10px 0;
}

.info-man-text-area {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-man-text {
  position: relative;
  width: 287px;
  height: 40px;
  background-color: #ffffff;
  border: 3px solid #59b0ab;
  border-radius: 8px;
  padding-left: 10px;
  color: #488f8b;
  font-weight: 500;
  text-align: center;
}

.info-man-text::placeholder {
  color: #9bd2cf;
}

.info-woman {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #ad2ea9;
}

.info-woman-title {
  text-align: center;
  width: 287px;
  height: 40px;
  padding: 10px 0;
}

.info-woman-text-area {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.info-woman-text {
  position: relative;
  width: 287px;
  height: 40px;
  background-color: #ffffff;
  border: 3px solid #c660c2;
  border-radius: 8px;
  padding-left: 10px;
  color: #ad2ea9;
  font-weight: 500;
  text-align: center;
}

.info-woman-text::placeholder {
  color: #e7a1e4;
}

.input-area2 {
  background-color: rgba(255, 255, 255, 0.698);
  border: 7px solid #daa744;
  border-left: transparent;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  width: 700px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 0 0;
}

.text-box2 {
  position: relative;
  width: 640px;
  height: 50px;
  background-color: #e4f1f1;
  border-radius: 30px;
  margin-bottom: 30px;
}

.text2 {
  /* text-align: center; */
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 30px;
  padding: 0px 60px 0px 60px;
  text-align: center;
  font-size: 15px;
  line-height: 40px;
  font-weight: bold;
  resize: none;
  overflow: hidden;
  color: #745315;
  background-color: transparent;
}

.text2:focus {
  border: 3px solid #5db6b6;
}

.text-button2 {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 12px;
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: #5db6b6;
}

.image-box {
  position: relative;
  width: 640px;
  height: 460px;
  border-radius: 30px;
  background-color: #efefef;
  margin-bottom: 30px;
}

.image-box img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: none;
}

.image-button {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  border: none;
  right: 30px;
  top: 20px;
}

.image-icon {
  font-size: 25px;
  color: #285181;
}

.image-input {
  display: none;
}

.input-image-box {
  position: relative;
  width: 640px;
  height: 460px;
  border-radius: 30px;
  background-color: black;
  margin-bottom: 30px;
}

.input-image-done {
  height: 100%;
  width: 100%;
  max-height: 100%;
}

.inputed-image {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  cursor: pointer;
}

.inputed-image-on {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  cursor: pointer;
  opacity: 0.8;
}

.image-icon-done {
  font-size: 25px;
  color: #285181;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 100;
  cursor: pointer;
}

.date-button {
  width: 640px;
  height: 40px;
  background-color: #ffffff;
  border: 3px solid #9d9595;
  border-radius: 100px;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  color: #af9d9f;
  margin-bottom: 20px;
}

.date-input-box {
  border-radius: 100px;
  width: 100%;
  height: 100%;
}

.date-input {
  border: none;
  font-weight: bold;
  color: #9d9595;
  text-align: center;
  font-size: 14px;
  background-color: transparent;
  width: 36%;
  height: 100%;
}

.date-input::-webkit-calendar-picker-indicator {
  font-size: 18px;
  margin-left: -10px;
}

.date-input-box-on {
  border-radius: 100px;
  width: 100%;
  height: 100%;
  background-color: #af9d9f;
}

.date-input-on {
  border: none;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 14px;
  background-color: transparent;
  width: 36%;
  height: 100%;
}

.date-input-on::-webkit-calendar-picker-indicator {
  font-size: 18px;
  cursor: pointer;
  margin-left: -10px;
}

.date-input3 {
  border: none;
  font-weight: bold;
  color: #9d9595;
  text-align: center;
  font-size: 14px;
  background-color: transparent;
  width: 80%;
  height: 100%;
}

.date-input3-on {
  border: none;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 14px;
  background-color: transparent;
  width: 80%;
  height: 100%;
}

.date-input3-on::placeholder {
  color: white;
}
