.sign-up {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 31.25rem;
  height: 675px;
  font-weight: bold;
  color: white;
  background-color: #ddc9cb;
  border-radius: 20px;
  padding: 10px 30px;
}

.title {
  display: flex;
  width: 100%;
  font-size: 1.5rem;
}

.back-button {
  position: absolute;
  border: none;
  background: none;
  color: white;
  font-size: 1.25rem;
}

.sign-up-text {
  margin: 0 auto;
}

.input-label {
  display: flex;
  font-size: 0.875rem;
  margin-bottom: 0.5em;
}

.input-field-style1 {
  width: 21.875rem;
  height: 40px;
  border: solid 1px #e8e8e8;
  border-radius: 8px;
  padding: 10px;
  margin-right: 10px;
}

.input-field-style1:focus,
.input-field-style2:focus {
  outline: none;
  border: 2px solid #af9d9f;
  border-radius: 8px;
}

.input-field-style1::placeholder,
.input-field-style2::placeholder {
  color: #af9d9f;
  font-size: 0.75rem;
}

.duplicate-check-button {
  width: 5rem;
  height: 40px;
  border: solid 1px #e8e8e8;
  border-radius: 8px;
  background: white;
  color: #af9d9f;
  font-size: 12px;
  font-weight: bold;
}

.completed-state {
  color: white;
  background-color: #af9d9f;
}

.error-message {
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 0.3em 0 0 0.3em;
  font-size: 0.7rem;
  font-weight: bold;
  color: rgb(233, 14, 14);
}

.input-field-style2 {
  width: 27.5rem;
  height: 40px;
  border: solid 1px #e8e8e8;
  border-radius: 8px;
  padding: 10px;
}

.password-check-container {
  position: relative;
}

.agreement-container {
  display: flex;
}

.agreement-checkbox {
  width: 14px;
  height: 14px;
}

.agreement-text {
  font-size: 12px;
  padding-left: 1em;
}

.sign-up-button {
  width: 27.5rem;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 100px;
  background: none;
  color: white;
}

.sign-up-button:hover {
  background-color: #af9d9f;
  border: none;
}
