.story-list-item {
  display: flex;
  flex-direction: column;
  width: 31.25rem;
  height: 300px;
  border: solid 8px #ddc9cb;
  border-radius: 20px;
  margin-right: 6.5em;
  margin-bottom: 3.75em;
}

.img-container {
  width: 100%;
  height: 80%;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  background-image: linear-gradient(
    90deg,
    rgb(233, 233, 233) 0px,
    #eeeeee 80px,
    rgb(233, 233, 233) 160px
  );
  background-size: 1000px;
  background-color: #d4d4d4;
  -webkit-animation: shine-container 1.5s linear infinite;
}

@keyframes shine-container {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 500px;
  }
}

.img-container:hover {
  cursor: pointer;
}

.img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.story-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  padding: 10px 20px;
  font-size: 0.875rem;
  font-weight: bold;
  color: #615254;
}

.title-edit-input {
  height: 100%;
  width: 80%;
  border: solid 2px #c5a5a8;
  border-radius: 5px;
  padding: 5px;
}

.story-item-title {
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
  margin-top: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 10%;
  font-size: 15px;
}

.edit-mode-state {
  display: none;
}

.save-title-button:hover {
  color: #437fd8;
}

.cancel-button:hover {
  color: black;
}

.edit-title-button:hover {
  color: #e0b51b;
}

.delete-button:hover {
  color: #c35656;
}
