.template-box {
  background-color: rgba(255, 255, 255, 0.575);
  width: 1400px;
  height: 750px;
  border: 7px solid #e2d0d2;
  display: flex;
  border-radius: 20px;
  position: relative;
  padding: 31px;
}

.text-box {
  background-color: rgba(246, 246, 227, 1);
  width: 113px;
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
}

.text-button {
  position: absolute;
  cursor: pointer;
  font-size: 25px;
  color: #e79b09;
  margin: 20px 0;
}

.text1 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 55px 30px 15px 30px;
  font-size: 45px;
  font-weight: bold;
  resize: none;
  overflow: hidden;
  color: #c97e0e;
  background-color: transparent;
}

.text1:focus {
  border: 3px solid #ffa600;
}

.images-container {
  width: 1256px;
  height: 100%;
  position: relative;
}

.image-box1 {
  background-color: rgba(234, 220, 220, 1);
  width: 370px;
  height: 437px;
  border-radius: 30px;
  position: absolute;
  left: 90px;
  top: 41px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box2 {
  background-color: rgba(221, 238, 236, 1);
  width: 344px;
  height: 318px;
  border-radius: 30px;
  position: absolute;
  left: 246px;
  bottom: 0px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box3 {
  background-color: rgba(239, 239, 239, 1);
  width: 850px;
  height: 646px;
  border-radius: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-image {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.image-button {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.image-input {
  width: 100%;
  display: none;
}

.image-icon {
  width: 100%;
  height: 100%;
  font-size: 25px;
  color: #285181;
}

.input-image {
  max-height: 100%;
  max-width: 100%;
  border-radius: 30px;
}

.input-image-box1 {
  background-color: black;
  width: 370px;
  height: 437px;
  border-radius: 30px;
  position: absolute;
  left: 90px;
  top: 41px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-image-box2 {
  background-color: black;
  width: 344px;
  height: 318px;
  border-radius: 30px;
  position: absolute;
  left: 246px;
  bottom: 0px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-image-box3 {
  background-color: black;
  width: 850px;
  height: 646px;
  border-radius: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-image-done {
  height: 100%;
  width: 100%;
  max-height: 100%;
}

.inputed-image {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  cursor: pointer;
}

.inputed-image-on {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  cursor: pointer;
  opacity: 0.8;
}

.image-icon-done {
  font-size: 30px;
  color: #285181;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 100;
  cursor: pointer;
}
