.template-box {
  position: relative;
  width: 1400px;
  height: 750px;
  border: 7px solid #e2d0d2;
  border-radius: 20px;
  background-color: #efefef98;
}

.image-button {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 20px;
}

.image-icon {
  font-size: 30px;
  color: #285181;
}

.image-input {
  width: 100%;
  display: none;
}

.image-box img {
  width: 100%;
  height: 100%;
  border: 3px solid #e2d0d2;
  border-radius: 20px;
}

.input-image-box {
  width: 100%;
  height: 100%;
  border-color: #e2d0d2;
  border-radius: 20px;
  background-color: black;
}

.input-image-done {
  height: 100%;
  width: 100%;
  max-height: 100%;
}

.inputed-image {
  height: 100%;
  width: 100%;
  border-radius: 16px;
  cursor: pointer;
}

.inputed-image-on {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.8;
}

.image-icon-done {
  font-size: 30px;
  color: #285181;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 100;
  cursor: pointer;
}

.text-box {
  position: absolute;
  top: calc((750px - 320px) / 2);
  left: calc((1400px - 650px) / 2);
  width: 650px;
  height: 320px;
  border-radius: 30px;
  background-color: #6262627e;
  z-index: 2;
}

.text1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 30px;
  padding: 35px;
  font-size: 24px;
  line-height: 50px;
  font-weight: bold;
  resize: none;
  overflow: hidden;
  color: white;
  background-color: transparent;
}

.text1:focus {
  border: 3px solid #4e4943;
}

.text-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: none;
  font-size: 30px;
  color: #4e4943;
}
