.template-box {
  position: relative;
}

.image-box {
  position: relative;
  width: 1400px;
  height: 800px;
  background-color: #efefef;
  border: 5px solid;
  border-color: #e2d0d2;
  border-radius: 30px;
}

.image-button {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  border: none;
  right: 30px;
  top: 20px;
}

.image-icon {
  font-size: 30px;
  color: #285181;
}

.image-input {
  width: 100%;
  display: none;
}

.image-box img {
  width: 100%;
  height: 100%;
  border: 3px solid #e2d0d2;
  border-radius: 30px;
}

.input-image-box {
  position: relative;
  width: 1400px;
  height: 800px;
  border-color: #e2d0d2;
  border-radius: 33px;
  background-color: black;
}

.input-image-done {
  height: 100%;
  width: 100%;
  max-height: 100%;
}

.inputed-image {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  cursor: pointer;
}

.inputed-image-on {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  cursor: pointer;
  opacity: 0.8;
}

.image-icon-done {
  font-size: 30px;
  color: #285181;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 100;
  cursor: pointer;
}

.text-box {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -200px;
  margin-right: -370px;
  width: 740px;
  height: 400px;
  border-radius: 30px;
  background-color: black;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 30px; */
}

.text-inside-box {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6e3;
}
.text-button {
  cursor: pointer;
  /* position: absolute; */
  width: 32px;
  height: 28px;
  /* margin-top: -14px;
  margin-right: -16px;
  top: 50%;
  right: 50%; */
  background-color: transparent;
  border: none;
}

.text-icon {
  font-size: 30px;
  color: #e79b09;
}

.text-editor-input {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: rgba(200, 200, 188, 0.35);
  cursor: pointer;
  position: relative;
}

.text-area {
  position: absolute;
  left: 13px;
  top: 15px;
}

.text-editor-input-on {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: rgba(200, 200, 188, 0.6);
  cursor: pointer;
  position: relative;
}

.text-editor-on {
  width: 100%;
  height: 100%;
  position: relative;
}

.text-icon-on {
  position: absolute;
  font-size: 30px;
  color: #e79b09;
  top: 20px;
  right: 30px;
}

.ck-editor__main {
  height: 500px;
}

.ck.ck-editor__editable {
  background-color: red;
}
