.invitation-wedding1 {
  position: relative;
  display: flex;
  width: 1400px;
  height: 750px;
  border: solid 7px #daa744;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.876);
}

.cancel-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2rem;
  color: #444444;
}

.cancel-button:hover {
  color: #a17f3b;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 7px #daa744;
  height: 100%;
  width: 50%;
  padding: 10px;
}

.image1-container,
.image1 {
  width: 640px;
  height: 700px;
  border-radius: 30px;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 50%;
  padding: 50px;
  color: #5a4010;
}

.date {
  width: 100%;
  height: 40px;
  font-size: 22px;
  font-weight: bold;

  /* 삭제할 코드 */
  /* border: 2px solid blue; */
}

.text1-container {
  width: 100%;
  height: 120px;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;

  resize: none;
  overflow: hidden;

  /* 삭제할 코드 */
  /* border: 2px solid blue; */
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: bold;

  /* 삭제할 코드 */
  /* border: 2px solid blue; */
}

.place {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 40px;
  font-size: 18px;
  font-weight: bold;

  /* 삭제할 코드 */
  /* border: 2px solid blue; */
}

.map {
  width: 100%;
  height: 170px;
  border-radius: 30px;

  /* 삭제할 코드 */
  /* border: 2px solid blue; */
}

.text2-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 210px;
  font-size: 12px;
  line-height: 25px;

  resize: none;
  overflow: hidden;

  /* 삭제할 코드 */
  /* border: 2px solid blue; */
}
