.swiper-container {
  width: 1290px;
  padding: 100px 100px 130px 100px;
  --swiper-navigation-size: 3rem;
  --swiper-navigation-color: #444444;
  --swiper-pagination-color: #444444;
}

.swiper-slide {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.background-img {
  width: 300px;
  height: 300px;
  background-color: #444444;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}

.selected {
  border: 5px solid rgb(255, 85, 156);
  border-radius: 20px;
}
