/* .character {
  display: inline-block;
  height: `${h}x`;
  width: 100px;
  background-image: url(/images/c2_m_action12.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.character img {
  width: 100px;
  height: 100px;
} */