.swiper-container {
  width: 700px;
  padding: 100px;
  --swiper-navigation-size: 1.5rem;
  --swiper-navigation-color: #fadada;
  --swiper-pagination-color: #f5afaf;
}

.swiper-slide {
  width: 500px;
  height: 500px;
}

.album-img {
  width: 500px;
  height: 500px;
}
